.container.ui.profileSection {
    margin-top: 75px;
    margin-bottom: 75px;
    h1{
        margin-bottom: 0px;
        color: #4CB6E1 ;
        text-align: center;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .profileInformationHolder{
        display: flex;
        width: 80%;
        margin-left: auto;
        margin-right: auto;    
        justify-content: center;
        .profileImageChangeButton{
            display: flex;
            flex-direction: column;
            width: 45%;
            img{
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
                background-color: #FF3636;
            }
            .changeIcon {
                background-color: #FC9E02;
                 width: 150px;
                 padding: 7px;
                 border-radius: 10px;
                 border: none;
                 color: white;
                 font-size: 18px;
                 margin-left: auto;
                 margin-right: auto;
                 margin-bottom: 30px;
                 font-weight: bold;
                 box-shadow: 0px 8px 6px  #888888;
            }
        }
        .profileInformation{
            display: flex;
            flex-direction: column;
            width: 55%;
            padding-left: 50px;
            padding-right: 50px;
            .inputPad{
                margin-bottom: 30px;
            }
            .uI {
                color: #4CB6E1;
                font-size: 25px;
                margin-bottom: 25px;
                text-align: center;

            }
            .emailChange{
                color: #FF3636;
                margin-bottom: 2px;
                
            }
        }
    }
    .buttonDiv{
        width: 100%;
        display: flex;
        justify-content: center;
        .updateProfileButton {
            background-color: #FC9E02;
            width: 250px;
            padding: 8px;
            border-radius: 10px;
            border: none;
            color: white;
            font-size: 15px;
            margin-top: 50px;
            margin-bottom: 30px;
            font-weight: bold;
            box-shadow: 0px 8px 6px  #888888;
            margin-left: auto;
            margin-right: auto;
        }
    }

}

@media screen and (max-width: 1000px){
    .container.ui.profileSection{
        h1{

        }
        .profileInformationHolder{
            .profileImageChangeButton{
                .changeIcon{
                    
                }
            }
            .profileInformation{
                padding-left: 30px;
                padding-right: 30px;
                .inputPad{

                }
                .uI {

                }
                .emailChange{
                    
                }
            }
        }
        .buttonDiv{
            .updateProfileButton{

            }
        }
    }
}

@media screen and (max-width: 830px){
    .container.ui.profileSection{
        h1{

        }
        .profileInformationHolder{
            flex-direction: column;
            align-items: center;
            .profileImageChangeButton{
                width: 60%;
                .changeIcon{
                    
                }
            }
            .profileInformation{
                padding-left: 30px;
                padding-right: 30px;
                width: 75%;
                .inputPad{

                }
                .uI {

                }
                .emailChange{
                    
                }
            }
        }
        .buttonDiv{
            .updateProfileButton{

            }
        }
    }
}


@media screen and (max-width: 400px){
    .container.ui.profileSection{
        h1{

        }
        .profileInformationHolder{
            .profileImageChangeButton{
                width: 60%;
                .changeIcon{
                    
                }
            }
            .profileInformation{
                padding-left: 15px;
                padding-right: 15px;
                width: 100%;
                .inputPad{

                }
                .uI {

                }
                .emailChange{
                    
                }
            }
        }
        .buttonDiv{
            .updateProfileButton{
                width: 225px;
            }
        }
    }
}