.container.ui.createBox{
    min-height: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    .createContainer{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        min-width: 275px;
        min-height: 600px;
        border-radius: 25px;
        display: flex;
        overflow: hidden;
        border-style: solid;
        border-width: 2px;
        border-color: #707070;
        flex-direction: column;
        padding: 40px;
        h1{
            color: #4CB6E1;
            margin-bottom:45px;
            text-align: center;
        }
        .firstName{
            width: 80%;
            margin-bottom: 35px;
            margin-left: auto;
            margin-right: auto;
        }
        .lastName{
            width: 80%;
            margin-bottom: 35px;
            margin-left: auto;
            margin-right: auto;
        }
        .email{
            width: 80%;
            margin-bottom: 35px;
            margin-left: auto;
            margin-right: auto;
        }
        .password{
            width: 80%;
            margin-bottom: 35px;
            margin-left: auto;
            margin-right: auto;
        }
        p{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            color: #FF3636;
            margin-bottom: 5px;
        }
        .createAccount{
            background-color: #FC9E02;
            width: 150px;
            padding: 10px;
            border-radius: 25px;
            border: none;
            color: white;
            font-size: 20px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 30px;
            margin-bottom: 30px;
            font-weight: bold;
            box-shadow: 0px 8px 6px  #888888;
        }
    }
}

@media screen and (max-width: 830px){
    .container.ui.createBox{
        .createContainer{
            h1{

            }
            .firstName{
                width: 100%;
            }
            .lastName{
                width: 100%;
            }
            .email{
                width: 100%;
            }
            .password{
                width: 100%;
            }
            p{
                font-size: 12px;
                width: 100%;
            }
            .createAccount{

            }
        }
    }
}