// Structure css for the page
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Segoe UI, Frutiger, Frutiger Linotype, Dejavu Sans, Helvetica Neue, Arial, sans-serif;
}

html,
body {
    min-width: 300px;
    width: 100%;
    height: 100%;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}

body::-webkit-scrollbar {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 16px
}