.menu.ui.navbar {
    background-color: #1E85AE;
    border-radius: 0px;
    width: 100%;
    height: 85px;
    margin: 0px;
    display: flex;
    justify-content: center;

    .navbarHolder {
        width: 100%;
        max-width: 1280px;
        display: flex;
        justify-content: left;

        .item {
            color: white;
            font-size: 25px;

            a {
                color: white;
            }
        }

        .item:hover {
            cursor: pointer;
            background-color: #2196c4;
            transition: all .8s;
        }

        .item:before {
            width: 0px;
        }
    }

    .navbarHolderMobile {
        display: none;
    }
}

.menu.ui.MobileNavMenu {
    background-color: #4CB6E1;
    width: 100%;
    height: calc(100% - 85px);
    display: block;
    margin: 0px;
    border: 0px;
    border-radius: 0px;
    position: absolute;
    z-index: 5;

    .MobileNavHolder {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;

        .MNWelcome {
            color: white;
            font-size: 30px;
            margin-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }

        .MNMore {
            color: white;
            font-size: 20px;
            margin-left: 10px;
            padding-top: 5px;
            padding-bottom: 5px;

            a {
                color: white;
            }
        }

        .firsthr {
            height: 5px;
            background-color: white;
            border: none;
            color: white;
        }

        .followinghr {
            background-color: white;
            border: none;
            height: 2px;
        }

        .MNbottomInfo {
            margin: auto;
            width: 100%;
            bottom: 0;
            color: white;
            position: absolute;

            img {
                width: 65%;
                height: 55px;
                display: block;
                background-color: white;
                margin: auto;
            }

            p {
                padding-top: 20px;
                text-align: center;
                margin: auto;
                width: 75%;
                font-size: 15px;
                padding-bottom: 20px;
            }

        }
    }
}

@media screen and (max-width: 950px) {
    .menu.ui.navbar {

        .navbarHolder {
            justify-content: center;

            .item {}

            .item:hover {}

            .item:before {}
        }
    }

}

@media screen and (max-width: 800px) {
    .menu.ui.navbar {

        .navbarHolder {
            .item {
                font-size: 20px;
            }

            .item:hover {}

            .item:before {}
        }
    }

}

@media screen and (min-width: 601px) {
    .menu.ui.MobileNavMenu {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .menu.ui.navbar {

        .navbarHolder {
            display: none;

            .item {}

            .item:hover {}

            .item:before {}
        }

        .navbarHolderMobile {
            position: relative;
            width: 100%;
            display: flex !important;

            .navbarMenu {
                width: 80px;
                position: absolute;
                z-index: 5;

                img {

                    margin-top: 10px;
                    margin-left: 5px;
                    width: 60px;
                }
            }

            .appTitle {
                z-index: 0;
                position: absolute;
                width: 100%;

                h1 {
                    font-size: 50px;
                    color: white;
                    line-height: 85px;
                    text-align: center;
                }
            }
        }
    }

}

@media screen and (max-width: 3500px) {
    .menu.ui.navbar {
        height: 80px;

        .navbarHolder {
            .item {}

            .item:hover {}

            .item:before {}
        }

        .navbarHolderMobile {
            .navbarMenu {
                img {
                    width: 40px;
                    margin-top: 20px;
                }
            }

            .appTitle {

                h1 {
                    font-size: 45px;
                    line-height: 80px;
                }
            }
        }
    }

}